html {
    cursor: url(/cursor.cur), auto !important;
}

body {
    background: url(img/bg1.png);
    background-size: 128px 128px;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    font-size: 13px;
    color: #ffffff;
    align-self: center;
    text-align: center;
}

a {color: #f89cff}

a:hover {color: #f457ff}

/* #region WIKI GAME VERSIONS CSS */
    #patch-notes {
        border-radius: 15px;
        white-space: pre-line;
        line-height: 22px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: left;
    }    

    #vids-screenshots, #comparison{
        border-radius: 15px;
        white-space: pre-line;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: center;
    }

    #vids-screenshots img, 
    #comparison img {
        max-width: 300px;
        width: 70%
    }

    #vids-screenshots video, 
    #comparison video {
        max-width: 400px;
        width: 80%;
    }

    /* normal line breaks + own background */
    .video-links {
        border-radius: 15px;
        white-space: normal;
        background-color: #30003bc9;
        padding: 5px;
        text-align: center;
    }
/* #endregion */

/* #region WIKI CHARACTERS CSS */
    #dialogue-sprite {
        border-radius: 15px;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: center;
    }

    #dialogue-sprite img {
        max-width: 128px;
        width: 100%;
    }

    #details {
        border-radius: 15px;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: left;
    }
/* #endregion */

/* #region WIKI CHAMBERS CSS */
    #chamber-preview {
        border-radius: 15px;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: center;
    }

    #chamber-preview img {
        max-width: 256px;
        width: 100%;
    }

    #chamber-details {
        border-radius: 15px;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: left;
    }

    #chamber-npcs {
        border-radius: 15px;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: center;
    }

    #chamber-features {
        border-radius: 15px;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: left;
    }
    #chamber-features, #chamber-details h2{
        text-align: center;
    }
/* #endregion */

/* #region WIKI GLOBAL CSS */
    #brief-description {
        border-radius: 15px;
        white-space: pre-line;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: center;
    }

    #trivia {
        border-radius: 15px;
        line-height: 20px;
        background-color: #4b005fd2;
        padding: 15px;
        text-align: center;
    }

    #trivia-gallery {
        line-height: 20px;
        padding: 10px;
        text-align: center;
    }

    #trivia-gallery img {
        max-width: 196px;
        width: 100%;
    }

    /* this is to put two divs side by side. chambers and characters use this. */
    .flex-container {
        display: flex;
    }

    .flex-child {
        flex: 1;
    }  

    .flex-child:first-child {
        margin-right: 20px;
    } 

    .backgroundBox {
        font-size:18px; background-color: #4b005fd2; 
        border-radius: 15px;
        padding: 10px;
        width: 400px;
        margin: 0 auto;
    }
/* #endregion */

@keyframes spin 
{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.animSpin {
    animation: spin 3.0s linear infinite
}