html {
    cursor: url(/cursor.cur), auto !important;
}

body {
    background: url(img/bg1.png);
    background-size: 128px 128px;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    font-size: 13px;
    color: #ffffff;
    align-self: center;
    text-align: center;
}

.altbody {
    background: url(img/owlbg1.png);
    background-size: 128px 128px;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    font-size: 13px;
    color: #ffffff;
    align-self: center;
    text-align: center;
}

.smallText {
    font-size: 9px; 
    color:#fbffc4;
}

.glowyText {
    color:#f4ff58;
    animation: glowText 2.5s infinite;
}

.hootPassive {
    color:#00FFFF;
}

.hootActive {
    color:#ffbf00;
}

@keyframes glowText
{
    0% {
    color:#f4ff58;
    }

    25% {
    color:#ffd900;
    transform: skew(2deg, -2deg);
    }

    50% {
    color:#f4ff58;
    }

    75% {
    color:#ffd900;
    transform: skew(-2deg, 2deg);
    }

    100% {
    color:#f4ff58;
    }
}

a {color: #f89cff}

.altLink a {color: #fffa9c}

a:hover {color: #f457ff}

/* patch notes */
.pre-line-left {
    border-radius: 15px;
    white-space: pre-line;
    line-height: 22px;
    background-color: #4b005fd2;
    padding: 15px;
    text-align: left;
}    

/* vids-screenshots, comparison, brief description */
.pre-line-center {
    border-radius: 15px;
    white-space: pre-line;
    line-height: 20px;
    background-color: #4b005fd2;
    padding: 15px;
    text-align: center;
}

/* vids screenshots img, comparison img */
.image300px img {
    max-width: 300px;
    width: 70%
}

/* vids screenshot video, comparison video */
.video400px video {
    max-width: 400px;
    width: 80%;
}

/* normal line breaks + own background */
.video-links {
    border-radius: 15px;
    white-space: normal;
    background-color: #30003bc9;
    padding: 5px;
    text-align: center;
}

/* dialogue sprite, chamber preview */
.image-sprite {
    border-radius: 15px;
    line-height: 20px;
    background-color: #4b005fd2;
    padding: 15px;
    text-align: center;
}

/* dialogue sprite img, hoot gun img, hoot enemy img, hoot item img */
.image-sprite-npc img {
    max-width: 128px;
    width: 100%;
}

.image-sprite-class img {
    max-width: 300px;
    width: 100%;
}

/* chamber preview img */
.image-sprite-chamber img {
    max-width: 256px;
    width: 100%;
}

/* character details, chamber details. HOOT too.*/
.text-left {
    border-radius: 15px;
    line-height: 20px;
    background-color: #4b005fd2;
    padding: 15px;
    text-align: left;
}

.text-left h2{
    text-align: center;
}

/* chamber NPCs, chamber features, trivia */
.text-center {
    border-radius: 15px;
    line-height: 20px;
    background-color: #4b005fd2;
    padding: 15px;
    text-align: center;
}

.text-center h2, .text-left h2, .text-center h3, .text-left h3 {
    color:#eba1ff;
}

.trivia-gallery {
    line-height: 20px;
    padding: 10px;
    text-align: center;
}

.trivia-gallery img {
    max-width: 196px;
    width: 100%;
}

/* this is to put two divs side by side. */
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.backgroundBox {
    font-size:18px; 
    background-color: #4b005fd2; 
    border-radius: 15px;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
}

@keyframes spin 
{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.animSpin {
    animation: spin 3.0s linear infinite
}